body {
    font-family: "Roboto", sans-serif;
    padding-top: 100px;

    display: flex;
    justify-content: center;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 24px;
    padding-bottom: 70px;
    color: blue;
}

/* .get-address {

} */

button {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: lightblue;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-yes {
    border-bottom: 20px;
}

.button {
    padding-top: 20px;
}

.button button {
    width: 200px;
    height: 40px;
    border-top: 30px;
    border-radius: 50px;
    background-color: lightblue;
    color: blue;
    font-size: 14px;
    font-weight: 700;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hidden {
    display: none;
} 
